:host{
  display: block;
  width: 240px;
  padding: 20px 0px 50px;
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-menu-list{
  display: grid;
  grid-gap: 8px;
  list-style: none;
  background: none;

}

.menu-item{
  padding: 16px 12px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--light-color);
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  grid-gap: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  width: 100%;
  text-align: left;
  border-radius: 2px;
  text-decoration: none;

  &:hover,
  &:focus-visible{
    background: var(--dark-hover-color);
    color: var(--click-color);

    .menu-item svg {
      color: var(--click-color);
    }

  }
}

.minisub{
  text-decoration: none;
  color: var(--light-color);
}

.sidebar__footer{
  margin-top: auto;
  width: calc(100% - 2px);
  background: rgba(192, 192, 192, 0.1);
  border-radius: 2px;
  padding: 4px 16px;
  display: grid;
  grid-template-columns: 32px 1fr 16px;
  grid-gap: 12px;
  align-items: center;
  
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .phoneNumber-text {
    font-weight: 700;
    color: var(--click-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.menu-item svg {
  width: 16px;
  height: 16px;
}

.to-subscribed{
  display: flex;
  gap: 10px;
  align-items: center;
}

.to-subscribed-link{
color: var(--click-color);
  text-decoration: none;
}

.to-subscribed-icon {
  width: 18px;
  height: 18px;
  color: var(--click-color);
}

.settings-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
    width: 18px;
    height: 18px;
    color: var(--click-color);
  }
}

.sbnote{
  display: flex;
  align-items: center;
  min-height: 40px;
  overflow: hidden;
}

.balance-block {
  margin-top: 30px;
  background: none;
  border-radius: 8px;
  
  .balance-label {
    font-size: 14px;
    color: var(--light-color);
    opacity: 0.7;
    margin-bottom: 4px;
  }
  
  .balance-amount {
    font-size: 24px;
    font-weight: 600;
    color: var(--light-color);
  }
}




