<img src="/assets/images/barterleeinv.png" alt="" width="86" height="auto" class="ml16" [routerLink]="''">

<nav class="mb20">
  <ul class="main-menu-list">
    @for (menuItem of menuItems; track menuItem.link) {
      <li>
        <a class="menu-item" [routerLink]="[menuItem.link]">
          <svg [icon]="menuItem.icon"></svg>
          <span>{{menuItem.label}}</span>
        </a>
      </li>
    }
  </ul>
</nav>

<div class="balance-block">
  <div class="balance-label">Баланс</div>
  <div class="balance-amount">{{ balance }} Бонусов</div>
</div>

<footer class="sidebar__footer">
  @if (me(); as profile) {
    <img [src]="imageUrl()" alt="" [routerLink]="['profile/me']">
    @if(profile.name && profile.surname){
    <div class="medium-text phoneNumber-text" [routerLink]="['profile/me']">
      {{profile.name}} {{profile.surname}}
    </div>
  } @else {
    <div class="medium-text phoneNumber-text" [routerLink]="['profile/me']">{{profile.email}}</div>
  }
    <a [routerLink]="['settings']" class="settings-btn">
      <svg icon="settings"></svg>
    </a>
  }
</footer>
