.tovar-card {
  border: 1px solid var(--light-color);
  padding: 32px 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 250px 1fr;
  grid-gap: 32px;
}

.tovar-name {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 20px;
}

.tovar-card__MainPicture {
  width: 70px;
  height: 70px;
}

.tovar-card__name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tovar-card__tags{
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  height: min-content;
}

.tovar-card__profile {
  border: 1px solid var(--light-color);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  background: var(--dark-color);
  border-radius: 8px;
}

.tovar-name__profile {
  display: grid;
  grid-template-columns: 45px 1fr;
  grid-gap: 12px;
  align-items: start;
}

.tovar-card__MainPicture__profile {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 4px;
}

.tovar-card__name__profile {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tovar-card__tags__profile {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  height: min-content;
}

.settings-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
    width: 18px;
    height: 18px;
    color: var(--click-color);
  }
}