@if (advertisement){

<div class="tovar-card">
  <div class="tovar-name">
    @if (advertisement.imageList && advertisement.imageList.length) {
      <img [src]="advertisement.imageList[0] | imgUrls" [alt]="advertisement.title" class="tovar-card__MainPicture">
    } @else {
      <img src="/assets/images/avatar_placeholder.png" [alt]="advertisement.title" class="tovar-card__MainPicture">
    }

    <div class="tovar-card__name">
      <strong class="h6">{{ advertisement.title }}</strong>
      <span class="subtitle">{{advertisement.title}}</span>
    </div>
  </div>

  <div class="tovar-card__description">
    {{advertisement.description}}
  </div>

  <div class="tovar-card__tags">
<!--    @for(skill of advertisement.stack; track skill) {
    <div class="type-tag">{{skill}}</div>
    }-->
  </div>

  <div class="tovar-card__action-btns">
    <button class="btn">Добавить в корзину</button>
  </div>
</div>
} @else {
  doldoldol
}
