<app-animated-background></app-animated-background>
  <div class="content">
    @if (profile$ | async; as profile){
      <header class="profile-page__header">

        <app-profile-header
            [profile]="profile"
        ></app-profile-header>

        @if( isMyProfile$ | async){
          <a class="btn to-settings-btn" [routerLink]="['/settings']">
            Редактировать
            <svg icon="settings" class="to-settings-icon"></svg>
          </a>
        }


      </header>

      <main class="profile-page__body">

        <div></div>


        <div>
          @if( isMyProfile$ | async){
          <h3 class="h6 mb16">Закреплённые товары</h3>

          <div class="subscribed-wrapper mb32">
          @for (profile of subscribed$ | async; track profile.id){
            <a class="subscribed-photo-btn" [routerLink]="['/profile', profile.id]">
              <img [src]="profile.avatarUrl | imgUrls" alt="">
            </a>
          }
            <a class="to-search-btn" [routerLink]="['/search']">

            </a>
          </div>
          }

          <h3 class="h6 mb16">О себе</h3>
          <p class="medium-text">{{profile.description}}</p>
        </div>
      </main>

    }

  </div>
